<h1><%= params[:completed]&.titleize || "All" %> Tasks</h1>

<% if params[:due].present? %>
  <h4>(<%= params[:due].titleize %>)</h4>
<% end %>

<%= render 'due_menu' %>

<%= render 'search_form' %>

<%= render 'table', tasks: @tasks %>

<%= will_paginate @tasks %>

<hr>

<% unless params[:completed] == "completed" %>
  <%= render 'form', task: @task %>
<% end %>
