<h1>
  <% if @task.completed? %>
    <s><%= @task.description %></s>
  <% else %>
    <%= @task.description %>
  <% end %>
</h1>

<h4>
  <span class="<%= badge_class_for(@task) %>">
    <%= @task.due_date&.strftime('%-m/%-d/%y') %>
  </span>
</h4>

<%= render 'table', sub_tasks: @sub_tasks %>

<hr>

<%= render 'form', task: @task, sub_task: @sub_task %>
